@import "../styles/_mixins.scss";
@import "../styles/_variables.scss";

.infoWindowContainerClass {
  width: calc(165px + (300 - 165) * ((100vw - 320px) / (575 - 320)));
  height: 275px;
  color: white;
  border-radius: 15px;
}

@include smallTablet {
  width: 350px;
}

.infoWindowHeaderClass {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: $strongGrey;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  &.popupModClass {
    background-color: $softGrey;
    border-radius: 0;
  }

  @include smallTablet {
    height: 28%;
  }
}

.infoWindowHeadingClass {
  padding: 0.5rem;
}

.infoWindowImageWrapperClass {
  position: relative;
  height: 60%;
  @include smallTablet {
    height: 70%;
  }
}

.infoWindowImageClass {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.infoButtonClass {
  position: absolute;
  z-index: 10;
  right: 5px;
  bottom: 5px;
  cursor: pointer;
}

.infoButtonIconClass {
  width: 35px;
  height: 35px;
}
