.infoWindowContainerClass {
  width: 350px;
  height: 275px;
  color: white;
  // background-color: #dfebe8;
  // background-color: #cfcece;
  border-radius: 15px;
}

.infoWindowHeaderClass {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(122, 121, 121);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  &.popupModClass {
    background-color: #cfcece;
    border-radius: 0;
  }

}

.infoWindowHeadingClass {
  padding: 0.5rem;
}

.infoWindowImageWrapperClass {
  position: relative;
  height: 70%;
}

.infoWindowImageClass {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.infoButtonClass {
  position: absolute;
  z-index: 10;
  right: 5px;
  bottom: 5px;
  cursor: pointer;
}

.infoButtonIconClass {
  width: 35px;
  height: 35px;
}

.popupBodyClass {
  margin: 0 1rem;
  padding: 0.75rem 1.5rem;
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
}


.popupImageClass {
  width: 750px;
  max-height: 550px;
  object-fit: cover;
  object-position: center;
}
